body {
    background-color: #14213D;
}

.First-Header {
    font-size: 4em;
    color: #FFFFFF;
    font-style: italic;
    margin-top: 0%;
}

.status-card {
    max-width: 300px;
    
    margin: auto;
    padding: 10px;
    text-align: left;
    background-color: #E5E5E5;
    border-width: 10px;
    border-color: #FCA311;
    border-style: solid;
    border-radius: 50px;
}

.columns {
    float: left;
    width: 33%;
}

.row:after{
    display: table;
    clear: both;
}

