body {
    background-color: #14213D;
}

h2 {
    font-size: 2em;
}

img {
    max-width: 100%;
}

.para-container {
    padding-left: 10px;
}

.First-Header {
    font-size: 4em;
    color: #FFFFFF;
    font-style: italic;
    margin-top: 0%;
}

.status-card {
    max-width: 400px;
    margin: auto;
    text-align: left;
    background-color: #E5E5E5;
    border-width: 10px;
    border-color: #FCA311;
    border-style: solid;
    border-radius: 50px;
}

.columns {
    float: left;
    width: 20%;
    padding-bottom: 50px;
}

.row:after{
    display: table;
    clear: both;
}

